@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/JPablo\/Sites\/qsensei-exercise\/app\/styles\/modules\/table\.scss;
  }

  line {
    font-family: \000031;
  }
}

.company__name {
  cursor: pointer;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/JPablo\/Sites\/qsensei-exercise\/app\/styles\/modules\/table\.scss;
  }

  line {
    font-family: \000033;
  }
}

.company__name .glyphicon {
  float: right;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/JPablo\/Sites\/qsensei-exercise\/app\/styles\/modules\/table\.scss;
  }

  line {
    font-family: \000037;
  }
}

.company__name--edit {
  width: 100%;
}