.company__name {
  cursor: pointer;
  .glyphicon {
    float: right;
  }
  .glyphicon-ok {
    color: $brand-success;
  }
}
.company__name--edit {
  width: 50%;
}
.company__id {
  text-align: right;
}
.company--new > th {
  background-color: rgba($brand-success, 0.5) !important;
}
.glyphicon-chevron-down {
  font-size: 10px;
  float: right;
  cursor: pointer;
  height: 17px;
  line-height: 17px;
}
thead {
  background-color: darken(#f9f9f9, 50%);
  color: white;
  th:first-child{
    width: 50px;
  }
}