<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
  </ul>
  <h3 class="text-muted">Q-Sensei exercise</h3>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Companies&nbsp;
      <button class="btn btn-sm btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        &nbsp;Add
      </button>
    </h3>
    <table class="table table-striped table-hover" ng-init="setTable()">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="company in companiesData.companies.company">
          <th>{{company._id}}</th>
          <th>
            <div class="company__name" ng-click="editCompany(company)" ng-hide="company.editing" ng-mouseover="company.mouseOver = true" ng-mouseleave="company.mouseOver = false">
              <span>{{company.name}}</span>
              <span class="glyphicon glyphicon-edit" ng-show="company.mouseOver"></span>
            </div>
            <input type="text" ng-model="company.name" ng-if="company.editing" ng-keyup="stopEditing($event, company)" focus-me="company.focus">
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="footer">
  <p>Coding exercise by Juan Pablo Lomeli Diaz</p>
</div>
